
<!-- <div class="row mt-2 mb-2">
  <div class="col">
    <div class="d-flex justify-content-center">
      <div class="">
        <button class="btn btn-success me-2 " *ngIf="paginatePrev" name="{{paginatePrev}}"
          (click)="paginator(paginatePrev)">
          <i class="fa fa-caret-left"></i> </button>

        <label class="mr-1 me-2"><strong>{{limit}}</strong> de <strong>{{cantidad}}</strong> </label>

        <button class="btn btn-success " *ngIf="paginateNext" name="{{paginateNext}}" (click)="paginator(paginateNext)">
          <i class="fa fa-caret-right"></i></button>

      </div>

    </div>


  </div>
</div> -->



<div class="row mt-4">
  <div *ngFor="let item of pokemons; let i = index" class="col-xl-2 col-lg-4 col-md-6 col-sm-12 col-xs-12 pb-2">
    <div class="card-deck" [routerLink]="['/pokemon/detail',item.url.split('pokemon/')[1].replace('/','')]"
      style="cursor: pointer;">
      <div class="card bg-{{item.color.name}}">

        <div class="card-header">
           <h5 class="card-title text-center"><img src="assets/img/pokemon-ball1.png" alt="PokemonIMG" height="30" class="me-2">{{item.name | titlecase}}</h5>
        </div>
        <div class="card-body">
          <p class="card-text text-center">
            <span *ngFor="let tipo of item.types"
              class="badge bg-{{tipo.type.name}}-type mb-2 me-2">{{tipo.type.name.toUpperCase()}} <img src="assets/svg/{{tipo.type.name}}.svg" alt="PokemonIMG" height="20" ></span>
          </p>
        </div>
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{item.url.split('pokemon/')[1].replace('/','')}}.png"
          class="img-fluid" alt="...">
          <div class="card-footer bg-{{item.color.name}}">
            <div class="text-center">
               <strong>{{i+1}}</strong>
            </div>

          </div>

      </div>

    </div>
  </div>


</div>

<!-- <div class="row mt-2 mb-2">
  <div class="col">
    <div class="d-flex justify-content-center">
      <div class="">
        <button class="btn btn-success me-2 " *ngIf="paginatePrev" name="{{paginatePrev}}"
          (click)="paginator(paginatePrev)">
          <i class="fa fa-caret-left"></i> </button>

        <label class="mr-1 me-2"><strong>{{limit}}</strong> de <strong>{{cantidad}}</strong> </label>

        <button class="btn btn-success " *ngIf="paginateNext" name="{{paginateNext}}" (click)="paginator(paginateNext)">
          <i class="fa fa-caret-right"></i></button>

      </div>

    </div>


  </div>
</div> -->
