<div class="container-fluid">
  <div class="row mt-2">
    <div class="col">
      <button class="btn btn-outline-dark " [routerLink]="['/']">
        <i class="fa fa-arrow-left"></i> Volver</button>
    </div>

  </div>

  <div class="row mt-2" *ngIf="dataSpecies && dataPokedex && locations">
    <div class="card bg-{{dataSpecies.color.name}}">
      <div class="card-body">

        <div class="row justify-content-md-center">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="table d-flex justify-content-center table-borderless">
              <table class="bg-{{dataSpecies.color.name}}">
                <tr>
                  <th>ID</th>
                  <td>#{{idPokemon}} </td>
                </tr>
                <tr>
                  <th>Peso</th>
                  <td>{{dataPokedex.weight}} kg</td>
                </tr>
                <tr>
                  <th>Altura</th>
                  <td>{{dataPokedex.height}}m</td>
                </tr>
                <tr>
                  <th>Tipo</th>
                  <td> <span class="badge bg-{{tipo.type.name}}-type mt-2 mb-2 me-2"
                      *ngFor="let tipo of dataPokedex.types"><img src="assets/svg/{{tipo.type.name}}.svg"
                        alt="PokemonIMG" height="20">
                      {{tipo.type.name.toUpperCase()}}</span></td>
                </tr>
                <tr>
                  <th>Habilidades</th>
                  <td>
                    <ng-container *ngFor="let tipo of dataPokedex.abilities">
                      <span class="badge bg-normal-ability mt-2 mb-2 me-2" style="cursor: pointer;"  >
                        {{tipo.ability.name.toUpperCase()}}</span>
                    </ng-container>

                  </td>
                </tr>
                <tr>
                  <th>Formas</th>
                  <td>
                    <ng-container >
                      <span *ngFor="let item of dataSpecies.varieties" class="badge bg-{{dataSpecies.color.name}}-form mt-2 mb-2 me-2" (click)="nextUrl(item.pokemon.url)" style="cursor: pointer;">
                        {{item.pokemon.name.replace('-',' ').toUpperCase()}}
                      </span>
                    </ng-container>

                  </td>
                </tr>
              </table>
            </div>

          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="row">
              <div class="col-12 ">
                <h1 class="card-title text-center ">

                  {{dataPokedex.name.toUpperCase()}}

                </h1>
                <div class="text-center">
                  <span class="badge bg-{{dataSpecies.color.name}}-type mt-2 mb-2 me-2">

                    {{dataSpecies.genera[5].genus.toUpperCase()}}</span>
                </div>

                <img
                  src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{idPokemon}}.png"
                  class="img-fluid content-center" alt="PokemonIMG">
              </div>
            </div>

          </div>


          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="row" *ngFor="let item of dataPokedex.stats">

              <div class="table1 bg-{{dataSpecies.color.name}}">
                <div class="col ">{{statSpanish(item.stat.name)}}</div>
                <div class="col">
                  <div class="progress">
                    <div
                      class="progress-bar progress-bar-animated progress-bar-striped text-title bg-{{item.stat.name}} text-end"
                      role="progressbar" style="font-size: 1rem" [style.width.%]="item.base_stat"
                      [attr.aria-valuenow]="item.base_stat" aria-valuemin="0" aria-valuemax="1000"><strong>
                        {{item.base_stat}}</strong></div>
                  </div>
                </div>

              </div>

            </div>
            <div class="row">
              <div class="col-12">
                Total<strong> {{totalStat}}</strong>
              </div>

            </div>


            <!--  <ng-container *ngFor="let item of dataPokedex.stats">
              <strong class="text-title">{{statSpanish(item.stat.name)}}</strong>
              <div class="progress">
                <div class="progress-bar progress-bar-animated text-title progress-bar-striped bg-{{item.stat.name}} text-end" role="progressbar" style="font-size: 1rem
              "
                  [style.width.%]="item.base_stat" [attr.aria-valuenow]="item.base_stat" aria-valuemin="0"
                  aria-valuemax="1000"><strong> {{item.base_stat}}</strong></div>
              </div>
            </ng-container> -->


          </div>

        </div>



        <div class="row justify-content-md-center mt-2">
          <div class="col-12">
            <h4 class="text-center">
              <span class="badge bg-{{dataSpecies.color.name}}-type mt-2 mb-2 me-2">

                EVOLUCIÓN</span>
            </h4>
          </div>
        </div>


        <div class="row justify-content-md-center mt-2">
          <div class="col-12">
            <h4 class="text-center">
              <span class="badge bg-{{dataSpecies.color.name}}-type mt-2 mb-2 me-2">

                MOVIMIENTOS</span>
            </h4>

          </div>
          <div class="table">
            <table>
              <tr>
                <th></th>
              </tr>
            </table>
          </div>
        </div>



      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content bg-{{dataSpecies.color.name}} tableColor-{{dataSpecies.color.name}}"
      *ngIf="detailMovement">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ataque: {{detailMovement.names[5].name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <table class="table table-striped  tableColor-{{dataSpecies.color.name}}">
          <tr>

            <td>
              Tipo
            </td>
            <th>{{detailMovement.type ? detailMovement.type.name : '-'}}</th>
          </tr>
          <tr>
            <td>
              Poder
            </td>
            <th>{{detailMovement.power ? detailMovement.power : '-'}}</th>
          </tr>
          <tr>
            <td>
              Puntos de poder
            </td>
            <th>{{detailMovement.pp ? detailMovement.pp : '-'}}</th>
          </tr>
          <tr>

            <td>
              Precisión
            </td>
            <th>{{detailMovement.accuracy ? detailMovement.accuracy : '-'}}</th>
          <tr>
            <td>
              Tipo daño
            </td>
            <th>{{detailMovement.damage_class ? detailMovement.damage_class.name : '-'}}</th>
          </tr>

          <tr *ngIf="detailMovement.contest_combos">
            <td>
              Counter combos
            </td>
            <th>
              <ng-container *ngIf="detailMovement.contest_combos">
                <small *ngFor="let item of detailMovement.contest_combos.normal.use_after">
                  {{item.name}}
                </small>
                <small *ngFor="let item of detailMovement.contest_combos.super.use_after">
                  Super: {{item.name}}
                </small>
              </ng-container>

            </th>
          </tr>

        </table>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>
